<li class="nav-dropdown-container ecosystem">
  <a class="nav-link">生态系统</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><h4>项目</h4></li>
    <li><ul>
      <li><a href="https://github.com/pea-easy/pea-generator" class="nav-link" target="_blank">pea</a></li>
    </ul></li>
    <li><h4>核心库</h4></li>
    <li><ul>
      <li><a href="https://github.com/pea-easy/pea-logger" class="nav-link" target="_blank">pea-redis</a></li>
      <li><a href="https://github.com/pea-easy/pea-redis" class="nav-link" target="_blank">pea-logger</a></li>
    </ul></li>
  </ul>
</li>
