<li class="nav-dropdown-container support-vue">
  <a href="/EN/support-vuejs/" class="nav-link">Donate PEA</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="/EN/support-vuejs/#One-time-Donations" class="nav-link">One-time Donation</a></li>
      <li><a href="/EN/support-vuejs/#Recurring-Pledges" class="nav-link">Recurring Pledges</a></li>
    </ul></li>
  </ul>
</li>
